*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;   
  font-size: 16px;
  font-weight: normal;
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  text-align: center;
  box-sizing: border-box;
}

body{
  background-image: url("http://jllsly.com/wallpapers/sports-s-wallpaper-desktop-background-Is-Cool-Wallpapers.jpg");
}

fieldset {
  border: none;
}

h1{
  text-align: center;
  font-size: 25px;
  background-color: rgba(42,107,191,.9);
  padding: 40px;
  margin-bottom: 40px;
  color: #e8e8e8;
}

h2{
  font-size: 30px;
  padding: 20px;
  color: #e8e8e8;
}

h3{
  font-weight: bolder;
  font-size: 20px;
  color: #e8e8e8;
}

.description {
  height: 450px;
  display: flex;
  /* flex-direction: column; */
  border-radius: 5px;
  margin: 0 auto;
}

.info {
  display: inline-block;
  height: 450px;
  width: 300px;
  position: absolute;
  background-color: rgba(255,255,255,0.8);
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;

}

.description h3{
  color: black;
  font-size: 30px;
  padding: 20px;
}

.fade {
opacity: 0;
animation: fade-in ease 1s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

button:hover{
  background-color: #2A6BBF;
  color: white;
  border: 2px solid #2A6BBF;
}

button.restart{
  margin-top: 15px;
}

button.restart:hover{
  background-color: white;
  border: 2px solid #D13119;
  padding: 10px 20px;
  color: black;
  transform: scale(1.1);
}

button{
  border: 2px solid #D13119;
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  }

.quiz, .summary {
  display: none;
}

.summary {
  background-color: rgba(42,107,191,.9);
  padding: 20px;
}

.summary p {
  color: white;
}

.quiz ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  clear: both;
}

.choice{
  cursor: pointer;
  display: inline-block;
  border: 1px solid black;
  padding: 10px 15px;
  color: white;
  background-color: #2A6BBF;
  border-radius: 5px; 
  margin-top: 15px;
  margin-right: 15px;
}

.quiz li.selected input {
  background-color: white;
  color: #2A6BBF;
}
.quiz input.choice.correct{
  background-color: green;
  color: white;
}

.quiz input.choice.incorrect {
  background-color: red;
  color: white;
}

/* was .quiz li:hover */
.hover:hover {  
  transform: scale(1.1);
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.banner{
  background-color: rgba(42,107,191,.9);
  padding: 15px;
  min-width: 100%;
}

.clue{
  width: 300px;
  height: 450px;
  display: relative;
  margin: 20px auto 0;
}

img{
  position: relative;
  height: 450px;
  width: 300px;
  border-radius: 5px;
}

.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}